# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [399]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [4]:
#Calculate Total Number of Schools
TotalSchools = school_data_complete["school_name"].nunique()

TotalSchools

15

In [408]:
#Calculate Total Number of Students of District
TotalStudents = int(school_data_complete["Student ID"].nunique())

TotalStudents

39170

In [405]:
#Calculate Total Budget of District
UniqueBudget = school_data_complete["budget"].unique()


TotalBudget = int(UniqueBudget.sum())

TotalBudget

24649428

In [422]:
#Calculate Per Student Budget

PerStudentBudget = (int(TotalBudget/TotalStudents))


PerStudentBudget

629

In [98]:
#Calculate Average Math Score

AverageMathScore = round(school_data_complete["math_score"].mean(),2)

AverageMathScore

78.99

In [99]:
#Calculate Average Reading Score

AverageReadingScore = round(school_data_complete["reading_score"].mean(),2)

AverageReadingScore

81.88

In [293]:
#Calculate Overall Passing Rate

OverallPassingRate = round((AverageMathScore + AverageReadingScore)/2,2)

OverallPassingRate

80.44

In [101]:
PassingMath = school_data_complete.loc[school_data_complete["math_score"] >= 70]
StudentsPassingMath = PassingMath["student_name"].nunique()

StudentsPassingMath

25426

In [102]:
#Percentage of Students with Passing Math Scores

Percentage_Passing_Math = round((StudentsPassingMath/TotalStudents)*100,2)

Percentage_Passing_Math

64.91

In [103]:
PassingReading = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
StudentsPassingReading = PassingReading["student_name"].nunique()

StudentsPassingReading

28587

In [424]:
#Percentage of Students with Passing Reading Scores

Percentage_Passing_Reading = round((StudentsPassingReading/TotalStudents)*100,2)

Percentage_Passing_Reading

72.98

In [493]:
#DistrictSummary

district_summary_df = pd.DataFrame({"Total Schools": [TotalSchools], 
                                    "Total Students": [TotalStudents], 
                                    "Total Budget": [TotalBudget],
                                    "Budget Per Student": [PerStudentBudget],
                                    "Average Math Score": [AverageMathScore],
                                    "Average Reading Score": [AverageReadingScore],
                                    "Overall Passing Rate": [OverallPassingRate],
                                    "Percentage of Students Passing Math": [Percentage_Passing_Math],
                                    "Percentage of Students Passing Reading": [Percentage_Passing_Reading]
                                   })
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("{:,.2f}".format)
district_summary_df["Budget Per Student"] = district_summary_df["Budget Per Student"].map("{:,.2f}".format)
district_summary_df["Percentage of Students Passing Math"] = district_summary_df["Percentage of Students Passing Math"].map("{:}%".format)
district_summary_df["Percentage of Students Passing Reading"] = district_summary_df["Percentage of Students Passing Reading"].map("{:}%".format)
district_summary_df
                                
district_summary_df

,Total Schools,Total Students,Total Budget,Budget Per Student,Average Math Score,Average Reading Score,Overall Passing Rate,Percentage of Students Passing Math,Percentage of Students Passing Reading
0,15,"39,170","24,649,428.00",629.00,78.99,81.88,80.44,64.91%,72.98%

In [477]:
#Per Student Budget


group_school_data = school_data_complete.groupby(["school_name"])
Total_Students = group_school_data["student_name"].count()
Average_Student_Math_Scores = round(group_school_data["math_score"].mean(),2)
Average_Student_Reading_Scores = round(group_school_data["reading_score"].mean(),2)
School_Types = school_data.set_index("school_name")["type"]
Total_School_Budget = round(school_data.set_index("school_name")["budget"],2)
Budget_Per_Student = round(Total_School_Budget/Total_Students,2)
Passing_Reading = student_data.loc[student_data["reading_score"] >= 70]
Group_Passing_Reading = Passing_Reading.groupby(["school_name"])
Count_Passing_Reading = Group_Passing_Reading["reading_score"].count()
Percent_Passing_Reading = round((Count_Passing_Reading/Total_Students*100),2)
Passing_Math = student_data.loc[student_data["math_score"] >=70]
Group_Passing_Math = Passing_Math.groupby(["school_name"])
Count_Passing_Math = Group_Passing_Math["math_score"].count()
Percent_Passing_Math = round((Count_Passing_Math/Total_Students*100),2)
Overall_Passing_Rate = round(((Percent_Passing_Reading + Percent_Passing_Math)/2),2)

In [497]:
#School Summary

school_summary_df = pd.DataFrame({"School Type": School_Types,
                                  "Total Students": Total_Students,
                                  "Total School Budget": Total_School_Budget,
                                  "Budget Per Student": Budget_Per_Student,
                                    "Average Math Score": Average_Student_Math_Scores,
                                     "Average Reading Score": Average_Student_Reading_Scores,
                                     "Percent Passing Reading": Percent_Passing_Reading,
                                     "Percent Passing Math": Percent_Passing_Math,
                                     "Overall Passing Rate": Overall_Passing_Rate})

school_summary_df["Total Students"] = school_summary_df["Total Students"]
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("{:,.2f}".format)
school_summary_df["Budget Per Student"] = school_summary_df[("Budget Per Student")]
school_summary_df["Percent Passing Math"] = school_summary_df["Percent Passing Math"]
school_summary_df["Percent Passing Reading"] = school_summary_df["Percent Passing Reading"]
school_summary_df["Overall Passing Rate"] = school_summary_df["Overall Passing Rate"]


school_summary_df

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Bailey High School,District,4976,"3,124,928.00",628.0,77.05,81.03,81.93,66.68,74.31
Cabrera High School,Charter,1858,"1,081,356.00",582.0,83.06,83.98,97.04,94.13,95.58
Figueroa High School,District,2949,"1,884,411.00",639.0,76.71,81.16,80.74,65.99,73.36
Ford High School,District,2739,"1,763,916.00",644.0,77.10,80.75,79.30,68.31,73.81
Griffin High School,Charter,1468,"917,500.00",625.0,83.35,83.82,97.14,93.39,95.26
Hernandez High School,District,4635,"3,022,020.00",652.0,77.29,80.93,80.86,66.75,73.81
Holden High School,Charter,427,"248,087.00",581.0,83.80,83.81,96.25,92.51,94.38
Huang High School,District,2917,"1,910,635.00",655.0,76.63,81.18,81.32,65.68,73.50
Johnson High School,District,4761,"3,094,650.00",650.0,77.07,80.97,81.22,66.06,73.64
Pena High School,Charter,962,"585,858.00",609.0,83.84,84.04,95.95,94.59,95.27
Rodriguez High School,District,3999,"2,547,363.00",637.0,76.84,80.74,80.22,66.37,73.30
Shelton High School,Charter,1761,"1,056,600.00",600.0,83.36,83.73,95.85,93.87,94.86
Thomas High School,Charter,1635,"1,043,130.00",638.0,83.42,83.85,97.31,93.27,95.29
Wilson High School,Charter,2283,"1,319,574.00",578.0,83.27,83.99,96.54,93.87,95.21
Wright High School,Charter,1800,"1,049,400.00",583.0,83.68,83.96,96.61,93.33,94.97

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [498]:
#Top Performing Schools

TopPerformingSchools = school_summary_df.sort_values("Overall Passing Rate", ascending=False)

TopPerformingSchools.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Cabrera High School,Charter,1858,"1,081,356.00",582.0,83.06,83.98,97.04,94.13,95.58
Thomas High School,Charter,1635,"1,043,130.00",638.0,83.42,83.85,97.31,93.27,95.29
Pena High School,Charter,962,"585,858.00",609.0,83.84,84.04,95.95,94.59,95.27
Griffin High School,Charter,1468,"917,500.00",625.0,83.35,83.82,97.14,93.39,95.26
Wilson High School,Charter,2283,"1,319,574.00",578.0,83.27,83.99,96.54,93.87,95.21

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [499]:
#Worst Performing Schools

WorstPerformingSchools = school_summary_df.sort_values("Overall Passing Rate", ascending=True)

WorstPerformingSchools.head(5)

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Rodriguez High School,District,3999,"2,547,363.00",637.0,76.84,80.74,80.22,66.37,73.30
Figueroa High School,District,2949,"1,884,411.00",639.0,76.71,81.16,80.74,65.99,73.36
Huang High School,District,2917,"1,910,635.00",655.0,76.63,81.18,81.32,65.68,73.50
Johnson High School,District,4761,"3,094,650.00",650.0,77.07,80.97,81.22,66.06,73.64
Ford High School,District,2739,"1,763,916.00",644.0,77.10,80.75,79.30,68.31,73.81

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [500]:
Grade_9 = student_data.loc[student_data["grade"] =="9th"]
Grade_10 = student_data.loc[student_data["grade"] =="10th"]
Grade_11 = student_data.loc[student_data["grade"] =="11th"]
Grade_12 = student_data.loc[student_data["grade"] =="12th"]
Group_Grade_9 = Grade_9.groupby(["school_name"])
Group_Grade_10 = Grade_10.groupby(["school_name"])
Group_Grade_11 = Grade_11.groupby(["school_name"])
Group_Grade_12 = Grade_12.groupby(["school_name"])
Grade9_Average_Math = Group_Grade_9["math_score"].mean()
Grade10_Average_Math = Group_Grade_10["math_score"].mean()
Grade11_Average_Math = Group_Grade_11["math_score"].mean()
Grade12_Average_Math = Group_Grade_12["math_score"].mean()



math_by_grade = pd.DataFrame({"9th": Grade9_Average_Math,
                              "10th": Grade10_Average_Math,
                              "11th": Grade11_Average_Math,
                              "12th": Grade12_Average_Math
                                  })
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [501]:
Grade_9 = student_data.loc[student_data["grade"] =="9th"]
Grade_10 = student_data.loc[student_data["grade"] =="10th"]
Grade_11 = student_data.loc[student_data["grade"] =="11th"]
Grade_12 = student_data.loc[student_data["grade"] =="12th"]
Group_Grade_9 = Grade_9.groupby(["school_name"])
Group_Grade_10 = Grade_10.groupby(["school_name"])
Group_Grade_11 = Grade_11.groupby(["school_name"])
Group_Grade_12 = Grade_12.groupby(["school_name"])
Grade9_Average_Reading = Group_Grade_9["reading_score"].mean()
Grade10_Average_Reading = Group_Grade_10["reading_score"].mean()
Grade11_Average_Reading = Group_Grade_11["reading_score"].mean()
Grade12_Average_Reading = Group_Grade_12["reading_score"].mean()



reading_by_grade = pd.DataFrame({"9th": Grade9_Average_Reading,
                              "10th": Grade10_Average_Reading,
                              "11th": Grade11_Average_Reading,
                              "12th": Grade12_Average_Reading
                                  })
reading_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [505]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "585-615", "615-645", "645-675"]

school_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_summary_df["Budget Per Student"], spending_bins, labels=group_names)


school_summary_df

spending_group = school_summary_df.groupby("Spending Ranges (Per Student)")

spending_group

spending_group[["Average Math Score", 
                "Average Reading Score", 
                "Percent Passing Reading", 
                "Percent Passing Math", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.935000,96.610000,93.460000,95.035000
585-615,83.600000,83.885000,95.900000,94.230000,95.065000
615-645,79.078333,81.891667,86.106667,75.668333,80.888333
645-675,76.996667,81.026667,81.133333,66.163333,73.650000

## Scores by School Size

* Perform the same operations as above, based on school size.

In [503]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names_size = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=group_names_size)

size_group = school_summary_df.groupby("School Size")

size_group

size_group[["Average Math Score", 
                "Average Reading Score", 
                "Percent Passing Reading", 
                "Percent Passing Math", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
School Size,,,,,
Small (<1000),83.820,83.92500,96.10000,93.55000,94.8250
Medium (1000-2000),83.374,83.86800,96.79000,93.59800,95.1920
Large (2000-5000),77.745,81.34375,82.76625,69.96375,76.3675

## Scores by School Type

* Perform the same operations as above, based on school type.

In [504]:

type_group = school_summary_df.groupby("School Type")


type_group[["Average Math Score", 
                "Average Reading Score", 
                "Percent Passing Reading", 
                "Percent Passing Math", 
                "Overall Passing Rate"]].mean()

,Average Math Score,Average Reading Score,Percent Passing Reading,Percent Passing Math,Overall Passing Rate
School Type,,,,,
Charter,83.472500,83.897500,96.586250,93.620000,95.102500
District,76.955714,80.965714,80.798571,66.548571,73.675714